@import "tailwindcss";

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    @media (width >= 1400px) {
        max-width: 1400px;
    }
}

.social-icons a svg {
    width: 18px;
    height: 18px;
}

/* This might possibly overwrite all hero images */
.hero img {
    @media screen and (max-width: 799px) {
        max-width: 10rem;
    }
}

.justify-center {
    justify-content: center;
}

/* Dark mode colors. */
:root {
    --sl-color-accent-low: #312100;
    --sl-color-accent: #896200;
    --sl-color-accent-high: #e7c385;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #edeeed;
    --sl-color-gray-2: #c1c2c1;
    --sl-color-gray-3: #8a8c8b;
    --sl-color-gray-4: #575857;
    --sl-color-gray-5: #373837;
    --sl-color-gray-6: #262726;
    --sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme="light"] {
    --sl-color-accent-low: #eed3a5;
    --sl-color-accent: #8c6400;
    --sl-color-accent-high: #432e00;
    --sl-color-white: #181818;
    --sl-color-gray-1: #262726;
    --sl-color-gray-2: #373837;
    --sl-color-gray-3: #575857;
    --sl-color-gray-4: #8a8c8b;
    --sl-color-gray-5: #c1c2c1;
    --sl-color-gray-6: #edeeed;
    --sl-color-gray-7: #f6f6f6;
    --sl-color-black: #ffffff;
}
