.social-icons a svg {
    width: 18px;
    height: 18px;
}

/* This might possibly overwrite all hero images */
.hero img {
	@media screen and (max-width: 799px) {
		max-width: 10rem;
	}
}

.justify-center {
    justify-content: center;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #312100;
	--sl-color-accent: #896200;
	--sl-color-accent-high: #e7c385;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #edeeed;
	--sl-color-gray-2: #c1c2c1;
	--sl-color-gray-3: #8a8c8b;
	--sl-color-gray-4: #575857;
	--sl-color-gray-5: #373837;
	--sl-color-gray-6: #262726;
	--sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #eed3a5;
	--sl-color-accent: #8c6400;
	--sl-color-accent-high: #432e00;
	--sl-color-white: #181818;
	--sl-color-gray-1: #262726;
	--sl-color-gray-2: #373837;
	--sl-color-gray-3: #575857;
	--sl-color-gray-4: #8a8c8b;
	--sl-color-gray-5: #c1c2c1;
	--sl-color-gray-6: #edeeed;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}
